﻿@model CategoryViewModel

@{
    ViewData["Title"] = "Add Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Category</h1>
<hr />

<!-- Add new category form -->
<form method="post">
    <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" class="form-control" id="name" name="Name" required>
    </div>
    @*@for (int i = 0; i < Model.Languages.ToList().Count; i++)
    {
        <label for="@Model.Languages.ToList()[i].Text">@Model.Languages.ToList()[i].Text translation</label>
        <input type="text" class="form-control" id="@Model.Languages.ToList()[i].Text" name="@Model.Languages.ToList()[i].Text" required>
    }*@
    @*@foreach (var lang in Model.Languages)
    {
        <label for="@lang.Text">@lang.Text translation</label>
        <input type="text" class="form-control" id="@lang.Text" name="@lang.Text" required>
    }*@
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
