﻿@model List<CategoryViewModel>

@{
    ViewData["Title"] = "Manage Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Categories</h1>
<hr />

<!-- Display existing categories -->
<h3>Existing Categories</h3>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a asp-action="CategoryDelete" class="btn btn-danger" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No categories found.</p>
}

<hr />

<!-- Add new category form -->
<h3>Add New Category</h3>
<a class="btn btn-primary" href="/Admin/Category/Create">Add Category</a>

<!-- Add new category form -->
@*<h3>Add New Category Translation</h3>
<a class="btn btn-primary" href="/Admin/Category/Translation/Create">Add Category Translation</a>*@
@*<form method="post" action="/Admin/Category/Add">
        <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" name="CategoryName" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>*@
