﻿@model News0.Web.Models.Post.PostViewModel

@{
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Title</h1>
                <p class="text-muted">@Model.PublishDate.ToString("MMMM dd, yyyy")</p>
                <p>@Model.Content</p>
            </div>
        </div>
    </div>
}
