﻿@model List<News0.Web.Models.Post.PostViewModel>

@{
    ViewData["Title"] = "News Website";
    Layout = "_Layout";
}

<!-- Main Content -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1>Latest News</h1>
            <!-- News Articles -->
            @{
                foreach (News0.Web.Models.Post.PostViewModel post in Model)
                {
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="News Image">
                        <div class="card-body">
                            <h5 class="card-title">@post.Title<span class="float-right">@post.Language</span></h5>
                            <p class="card-text">@post.Title</p>
                            <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <h3>Popular News</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="#" class="btn">News 1</a></li>
                <li class="list-group-item"><a href="#" class="btn">News 2</a></li>
                <li class="list-group-item"><a href="#" class="btn">News 3</a></li>
                <li class="list-group-item"><a href="#" class="btn">News 4</a></li>
                <li class="list-group-item"><a href="#" class="btn">News 5</a></li>
            </ul>
        </div>
    </div>
</div>
