﻿@model CategoryTranslationViewModel

@{
    ViewData["Title"] = "Add Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Category</h1>
<hr />

<!-- Add new category form -->
<form method="post">
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="CategoryId" required>
            <option value="">Select Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="language">Language</label>
        <select class="form-control" id="language" name="LanguageId" required>
            <option value="">Select Language</option>
            @foreach (var language in Model.Languages)
            {
                <option value="@language.Value">@language.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="title">Translation</label>
        <input type="text" class="form-control" id="title" name="Title" required>
    </div>
    @*@for (int i = 0; i < Model.Languages.ToList().Count; i++)
        {
            <label for="@Model.Languages.ToList()[i].Text">@Model.Languages.ToList()[i].Text translation</label>
            <input type="text" class="form-control" id="@Model.Languages.ToList()[i].Text" name="@Model.Languages.ToList()[i].Text" required>
        }*@
    @*@foreach (var lang in Model.Languages)
        {
            <label for="@lang.Text">@lang.Text translation</label>
            <input type="text" class="form-control" id="@lang.Text" name="@lang.Text" required>
        }*@
    <button type="submit" class="btn btn-primary">Add Category Translation</button>
</form>
