﻿@model News0.Web.Models.CategoryViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div asp-validation-summary="All"></div>

    <form asp-controller="Category" asp-action="Create" method="post">
        Category Name: <input asp-for="Name" /><br />
        <span asp-validation-for="Name"></span><br />
        <button type="submit">Create</button>
    </form>
}