﻿@model LanguageViewModel

@{
    ViewData["Title"] = "Add Language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Language</h1>
<hr />

<!-- Add new language form -->
<form method="post">
    <div class="form-group">
        <label for="name">Language Name</label>
        <input type="text" class="form-control" id="name" name="Name" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Language</button>
</form>
