﻿@{
    ViewData["Title"] = "Admin Page";
    Layout = "_Layout";
}
@{
    <div class="container mt-4">
        <h1>Welcome to the Admin Page</h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Post">Manage News</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Category">Manage Categories</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Language">Manage Languages</a>
        </div>
    </div>
}