﻿@model News0.Web.Models.Post.PostTranslationCreationViewModel

@{
    ViewData["Title"] = "Add News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
}

@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}

<div class="container">
    <h1>Add News</h1>
    <hr />
    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="Title" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="Content" rows="5" required></textarea>
        </div>
        @*<div class="form-group">
            <label for="post">Post</label>
            <select class="form-control" id="post" name="PostId" required>
                <option value="">Select Post</option>
                @foreach (var post in Model.Posts)
                {
                    <option value="@post.Value">@post.Value</option>
                }
            </select>
        </div>*@
        <div class="form-group">
            <label for="language">Language</label>
            <select class="form-control" id="language" name="LanguageId" required>
                <option value="">Select Language</option>
                @foreach (var language in Model.Languages)
                {
                    <option value="@language.Value">@language.Text</option>
                }
            </select>
        </div>
        @*<div class="form-group">
                <label for="publishDate">Publish Date</label>
                <input type="date" class="form-control" id="publishDate" name="PublishDate" required>
            </div>*@
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
